{% extends 'base.html.twig' %}

{% block title %}       {{ parent() }} - INDEX  {% endblock %}
{% block stylesheets %} {{ parent() }}          {% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>{{ "Main.WelcomeTo"|trans }}</span> {{ "Main.SiteName"|trans }} </h1>

                {{ "Main.Locale_lang"|trans }} {{ app.request.locale }}.
            </div>

        </div>
    </div>
{% endblock %}

