{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ "Main.Separator"|trans({},'messages') }} {{ "AdList.PageTitle"|trans }}{% endblock %}

{% trans_default_domain 'ads' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>{{ "AdList.Title"|trans }}</h1>
            <div id="welcome">
                <table>
                    <tr>
                        <th>{{ "AdList.Name"|trans }}</th>
                        <th>{{ "AdList.Price"|trans }}</th>
                    </tr>
                    {%  for ad in ads %}
                        <tr>
                            <td>{{ ad.title }}</td>
                            <td>{{ ad.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
{% endblock %}

