{% extends 'base.html.twig' %}

    {% block title %}
        {{ parent() }} Main.Separator AdNew.Title
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block body %}
        <div id="wrapper">
            <div id="container">
                <div id="welcome">
                    {{ form_start((form)) }}

                    {{ form_widget(form) }}
                    <input type="submit" name="send">

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    {% endblock %}

